version: '3'
services:

  intro:
    build:
      dockerfile: "./Dockerfiles/Dockerfile.intro"
      context: .
    env_file: .env
    ports:
      - "8888:8888"
    devices:
      {% for i in range(N_GPU) %}
      - /dev/nvidia{{i}}
      {% endfor %}
    volumes:
      - ./:/src/neuro_data
      - /mnt/scratch07/:/external7
      - /mnt:/mnt
      - ./notebooks/intro/:/notebooks
